<%- include ../partials/header %> <%- include ../partials/categories-navbar %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-12 m-auto text-justify">
      <h1 class="mt-4 mb-5 text-center">Work With Us</h1>
      <rssapp-imageboard id="DqIwnAtq5s7IaRuy"></rssapp-imageboard><script src="https://widget.rss.app/v1/imageboard.js" type="text/javascript" async></script>    </div>
  </div>
</div>

<%- include ../partials/footer %>
